body{
    margin: 0;
}

*{            
    box-sizing: border-box;
}

.container{
    background-color: #fca87e;
    color: #96af25;
}

.container, 
.Input-Container,
.Task-Container {
    border:3px solid;
}

.Input-Container{
    height: 10vh;
    text-align: center;
}

.Task-Container{
    height: 90vh;

}

.task-list{
    padding-left: 0;
}

.task-input{
    text-align: center;
    font-size: 2rem;
    height: 4rem;
    width: 30%;
    margin: auto;
    display: block;
}

.Task-Container li {
    text-align: center;
    font-size: 1.5rem;
    list-style: none;
    background-color: #0b032d;
    width: 40%;
    margin: 10px auto 0px auto;
}

@media screen and (max-width: 768px){ /*used to make website mobile friendly*/
    .task-input,
    .task-container li {
        width: 70%;
    }
}
